<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My ToList</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="box" id="heading">
            <h1> <%=dayinHTML%></h1>
    </div>
  
    <div class="box">
            <% for( let index = 0; index < newListItems.length; index++ ) { %>
                <div class="item">
                    <input type="checkbox">
                        <p><%=newListItems[index]%></p>
                </div>
            <% } %>
             
      <form class="item" action="/" method="post">
        <input type="text" name="itemtoAdd" placeholder="Add New Task" autocomplete="off">
        <button type="submit">+</button>
    </form>

     </div>
    

    
</body>
</html>